<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8">
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
    <title>Weather forecast application</title>
</head>
<body>
     <div>
             <div>
                 <h4>Welcome to the weather forecast provider to compare forecasts</h4>
             </div>
         <div>
             <a th:href="@{/cities/form}">Fill in the city form to know the weather forecast >></a>
         </div>
     </div>

</body>
</html>